.ButtonPage {
  display: block;
  text-decoration: none;
  color: white;
  width: 30px;
  height: 90%;
  text-align: center;
  transition: color 0.3s, background-color 0.3s;
}

.ButtonPage:hover {
  text-decoration: underline;
  color: rgb(5, 5, 5);
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  background-color: white;
}

.Active {
  display: block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  width: 30px;
  height: 90%;
  text-align: center;
  transition: color 0.3s, background-color 0.3s;
  text-decoration: underline;
  background-color: white;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}
.P {
  color: white;
}

.MovePages {
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.MovePages:hover {
  text-shadow: 0px 0px 10px white;
}
